<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>nerdshop3</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
</head>

<body>

  <h1>Login</h1>

 <form action="/login" method="POST">
  <input type="text" name="username" required placeholder="Nutzername">
  <input type="password" name="password" required placeholder="Passwort">
  <button type="submit">Login</button>
</form>
 

  

</body>

</html>
