<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Willkommen</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/style.css" media="screen" />
</head>

<body>
  
  <h1>Willkommen <%= user.username %></h1>

  <p>Schön, dass Du Dein Passwort nicht vergessen hast</p>

</body>

</html>
